.outerbox_backGround{
    background-color:darkgray
}

.center_address_background{
    background-color:darkseagreen
}

.center_all_detail_background{
    background-color:gainsboro
}

.vaccine_detail{
    background-color: lightslategrey
}

.vaccine{
    background-color:mistyrose
}

.dose_detail{
    background-color: aliceblue
}

.enter_detail_page{
    background-color: aquamarine;
}